<h1 class="text-center">Productos</h1>
<div *ngIf="authService.hasPermission('product-create')" class="text-center" style="padding: 15px">
    <a routerLink="nuevo" class="btn btn-sm btn-success mb-2">Crear producto</a>
</div>
<div id="search-report">
    <div>
        <input type="text" placeholder="Nombre, desc, precio, stock..." #filter id="filterSearch" [readonly]="isFilter">
        <button class="btn-secondary btn-sm mb-2" type="button" (click)="search()">
            <span *ngIf="isSearching" title="Filtrando productos"><i class="fa-solid fa-spinner fa-spin"></i></span>
            <span *ngIf="!isSearching">Filtrar</span>
        </button>
    </div>
    <button id="report-pdf" class="btn-secondary btn-sm mb-2" (click)="productsToPDF()" [disabled]="isPrintingPDF"
        [hidden]="!authService.hasPermission('supplier-list')">
        <span *ngIf="isPrintingPDF" title="Creando informe"><i class="fa-solid fa-spinner fa-spin"></i></span>
        <span *ngIf="!isPrintingPDF" title="Descargar informe PDF">Informe <i
                class="fa-solid fa-file-pdf"></i></span></button>
</div>
<table *ngIf="authService.hasPermission('product-list')" class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th *ngIf="authService.hasPermission('supplier-list')">Proveedor</th>
            <th>Precio</th>
            <th>Stock</th>
            <th *ngIf="authService.hasPermission('product-edit') || authService.hasPermission('product-delete')">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td style="text-align: center;"><img style="border-radius: 0.5rem;"
                    class="spinner-border spinner-border-sm align-center" (load)="onLoadImg($event)"
                    src="{{product.thumbail_32x32}}" width="32" height="auto" alt="Imagen de un {{product.name}}"></td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td *ngIf="authService.hasPermission('supplier-list')">{{product.supplierName}}</td>
            <td>{{product.price | currency: 'EUR'}}</td>
            <td>{{product.stock}}</td>
            <td *ngIf="authService.hasPermission('product-edit') || authService.hasPermission('product-delete')">
                <a *ngIf="authService.hasPermission('product-edit')" routerLink="editar/{{product.id}}"
                    class="btn btn-sm btn-primary me-2" title="Ver/Editar"><i
                        class="fa-regular fa-pen-to-square"></i></a>
                <button *ngIf="authService.hasPermission('product-delete')"
                    (click)="deleteProduct(product.name, product.id)" class="btn btn-sm btn-danger btn-delete-user"
                    title="Eliminar" [disabled]="product.isDeleting">
                    <span *ngIf="" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!product.isDeleting"><i class="fa-solid fa-trash-can"></i></span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!products">
            <td colspan="6" class="text-center">
                <span class="spinner-border spinner-border-md align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
<nav>
    <ul class="pagination flex-wrap justify-content-center">
        <li class="page-item" *ngFor="let link of links">
            <a class="page-link {{link.active ? 'active' : ''}} {{link.url === null?'disabled':''}}"
                href="{{link.href}}" (click)="onChangePagination($event)">{{link.label}}</a>
        </li>
    </ul>
</nav>