<div class="container">
    <div class="col-6 offset-3">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="inputName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputName" formControlName="name">
                <div class="form-text text-danger"
                    *ngIf="productFormControls['name'].invalid && (productFormControls['name'].dirty || productFormControls['name'].touched)">
                    <ng-container *ngIf="productFormControls['name'].errors?.['required']">
                        Introduzca un nombre para el producto.
                    </ng-container>
                    <ng-container *ngIf="productFormControls['name'].errors?.['minlength']">
                        El nombre debe tener al menos 3 caracteres
                    </ng-container>
                </div>
            </div>
            <div class="mb-3">
                <label for="inputDescription" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="inputDescription" formControlName="description">
                <div class="form-text text-danger"
                    *ngIf="productFormControls['description'].invalid && (productFormControls['description'].dirty || productFormControls['description'].touched)">
                    <ng-container *ngIf="productFormControls['description'].errors?.['required']">
                        Introduzca una descripción para el producto.
                    </ng-container>
                    <ng-container *ngIf="productFormControls['description'].errors?.['minlength']">
                        La descripción debe tener al menos 3 caracteres
                    </ng-container>
                </div>
            </div>
            <div class="mb-3">
                <label for="inputSupplier" class="form-label">Proveedor</label>
                <div *ngIf="!suppliers">
                    <div colspan="6" class="text-center">
                        <span class="spinner-border spinner-border-sm align-center"></span>
                    </div>
                </div>
                <div *ngIf="suppliers">
                    <select name="select-supplier" id="select-supplier" formControlName="supplier">
                        <option *ngFor="let supplier of suppliers" value="{{supplier.id}}"
                            id="supplier-{{supplier.id}}">
                            {{supplier.cif_nif}} - {{supplier.name}}</option>
                    </select>
                    <div class="form-text text-danger"
                        *ngIf="productFormControls['supplier'].invalid && (productFormControls['supplier'].dirty || productFormControls['supplier'].touched)">
                        <ng-container *ngIf="productFormControls['supplier'].errors?.['required']">
                            Introduzca un proveedor para el producto.
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="inputImage" class="form-label">Imagen</label>
                <input (change)="onChangeFile($event)" type="file" accept="image/png, image/jpeg, image/jpg, image/gif"
                    class="form-control" id="inputImage" formControlName="image">
                <div class="form-text text-danger"
                    *ngIf="productFormControls['image'].invalid && (productFormControls['image'].dirty || productFormControls['image'].touched)">
                    <ng-container *ngIf="productFormControls['image'].errors?.['required']">
                        Introduzca una imagen del producto.
                    </ng-container>
                </div>
            </div>
            <div class="mb-3">
                <label for="inputPrice" class="form-label">Precio</label>
                <input type="text" class="form-control" id="inputPrice" formControlName="price">
                <div class="form-text text-danger"
                    *ngIf="productFormControls['price'].invalid && (productFormControls['price'].dirty || productFormControls['price'].touched)">
                    <ng-container *ngIf="productFormControls['price'].errors?.['required']">
                        Introduzca un precio del producto.
                    </ng-container>
                </div>
            </div>
            <div class="mb-3">
                <label for="inputStock" class="form-label">Stock</label>
                <input type="text" class="form-control" id="inputStock" formControlName="stock">
                <div class="form-text text-danger"
                    *ngIf="productFormControls['stock'].invalid && (productFormControls['stock'].dirty || productFormControls['stock'].touched)">
                    <ng-container *ngIf="productFormControls['stock'].errors?.['required']">
                        Introduzca el stock actual del producto.
                    </ng-container>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid || !isSubmitted">Crear
                producto</button>
        </form>
    </div>
</div>