<div class="col-6 offset-3">
    <div class="text-center">
        <span *ngIf="!configs" class="spinner-border spinner-border-lg align-center"></span>
    </div>
    <p *ngIf="configs">Al modificar los valores se graban automáticamente. Y los cambios se hacen efectivos al reiniciar
        la sesión o al refrescar la página.</p>
    <ul class="list-group" *ngIf="configs">
        <li class="list-group-item">
            <div class="config-list">
                <span class="fw-bold">Activa</span>
                <span class="fw-bold">Propiedad</span>
                <span class="fw-bold">Descripción</span>
                <span class="fw-bold">Valor</span>
            </div>
        </li>
        <li class="list-group-item" *ngFor="let config of configs">
            <div class="config-list">
                <span><input type="checkbox" [checked]="config.pivot !== undefined ? true : false"
                        (change)="onChangeCheckActive($event)" id="check-{{config.name}}" /></span>
                <span>{{config.title}}</span>
                <textarea *ngIf="config.pivot; else elseBlock" id="desc-{{config.name}}"
                    value="{{config.pivot.description}}"></textarea>
                <ng-template #elseBlock><span id="desc-{{config.name}}">{{config.description}}</span></ng-template>
                <span class="form-switch">
                    <input *ngIf="config.pivot; else elseBlock2" class="form-check-input" type="checkbox" role="switch"
                        id="switch-{{config.name}}" [checked]="config.pivot.value === 'true' ? true : false"
                        (change)="onChangeCheckValue($event)">
                    <ng-template #elseBlock2>
                        <input class="form-check-input" type="checkbox" role="switch" id="switch-{{config.name}}"
                            [checked]="config.value === 'true' ? true : false" (change)="onChangeCheckValue($event)"
                            disabled>
                    </ng-template>
                </span>
            </div>
        </li>
    </ul>
</div>