<div class="col-6 offset-3">
  <div class="text-center">
    <span *ngIf="!user" class="spinner-border spinner-border-lg align-center"></span>
  </div>
  <ul class="list-group" *ngIf="user">
    <li class="list-group-item"><span class="fw-bold">Nombre usuario</span> - {{user.name}}</li>
    <li class="list-group-item"><span class="fw-bold">Email usuario</span> - {{user.email}}</li>
    <!--<li class="list-group-item"><span class="fw-bold">Email verificado</span> - {{user.email_verified_at ? "si" :
      "Sin verificar"}}</li>-->
    <li class="list-group-item"><span class="fw-bold">Fecha de creación usuario</span> - {{user.created_at |
      date:'dd/MM/yyyy
      HH:mm:ss'}}
    </li>
    <li class="list-group-item"><span class="fw-bold">Última modificación usuario</span> - {{user.updated_at |
      date:'dd/MM/yyyy HH:mm:ss'}}</li>
    <li class="list-group-item"><span class="fw-bold">Hora expirará la sesión servidor</span> - {{timeExpiredSession |
      date:'dd/MM/yyyy HH:mm:ss'}}</li>
    <li class="list-group-item"><span class="fw-bold">Advertencia expirará la sesión servidor</span> -
      {{timeAdviceExpiredSession
      |
      date:'dd/MM/yyyy HH:mm:ss'}}</li>
    <li class="list-group-item"><span class="fw-bold">Rol del usuario</span> -
      <span *ngFor="let rol of user.roles">{{rol.roleName}} </span>
    </li>
    <li class="list-group-item"><span class="fw-bold">Permisos del usuario</span> -
      <span *ngFor="let permission of user.permissions">{{permission.permissionName}} </span>
    </li>
  </ul>
</div>