<h1 class="text-center">Proveedores</h1>
<div *ngIf="authService.hasPermission('supplier-create')" class="text-center" style="padding: 15px">
    <a routerLink="nuevo" class="btn btn-sm btn-success mb-2">Crear proveedor</a>
</div>
<div id="search-report">
    <div>
        <input type="text" placeholder="Cif/nif, nombre o telf..." #filter>
        <button class="primary" type="button" (click)="search(filter.value, $event)">
            <span *ngIf="isSearching" class="spinner-border spinner-border-sm"></span>
            <span *ngIf="!isSearching">Buscar</span>
        </button>
    </div>
    <button id="report-pdf" class="btn-secondary btn-sm mb-2" (click)="suppliersToPDF()" [disabled]="isPrintingPDF">
        <span *ngIf="isPrintingPDF" class="spinner-border spinner-border-sm"></span>
        <span *ngIf="!isPrintingPDF">Descargar informe PDF</span></button>
</div>
<table *ngIf="authService.hasPermission('supplier-list')" class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Cif/Nif</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let supplier of suppliers">
            <td></td>
            <td>{{supplier.cif_nif}}</td>
            <td>{{supplier.name}}</td>
            <td>{{supplier.phone}}</td>
            <td>
                <a *ngIf="authService.hasPermission('supplier-edit')" routerLink="editar/{{supplier.id}}"
                    class="btn btn-sm btn-primary me-1">Ver/Editar</a>
                <button *ngIf="authService.hasPermission('supplier-delete')"
                    (click)="deleteSupplier(supplier.name, supplier.id)" class="btn btn-sm btn-danger btn-delete-user"
                    [disabled]="supplier.isDeleting">
                    <span *ngIf="" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!supplier.isDeleting">Eliminar</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!suppliers">
            <td colspan="6" class="text-center">
                <span class="spinner-border spinner-border-md align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item" *ngFor="let link of links">
            <a class="page-link {{link.active ? 'active' : ''}} {{link.url === null?'disabled':''}}" href="{{link.url}}"
                (click)="onChangePagination($event)">{{link.label}}</a>
        </li>
    </ul>
</nav>