#search-report {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
}

#search-report input {
  margin-right: 0.5rem;
}

#search-exclusion {
  padding-left: 4rem;
}

table td:nth-child(5) {
  text-align: center;
}
