<h1 class="text-center">Recepción de mercancía</h1>
<div *ngIf="authService.hasPermission('goodsreceipt-create')" class="text-center" style="padding: 15px">
    <a routerLink="nuevo" class="btn btn-sm btn-success mb-2">Crear albarán de recepción de mercancía</a>
</div>
<div id="search-report">
    <div>
        <input type="text" placeholder="Núm. doc., provedor, usuario..." #filter id="filterSearch"
            [readonly]="isFilter">
        <button class="btn-secondary btn-sm mb-2" type="button" (click)="search()">
            <span *ngIf="isSearching" title="Filtrando albaranes"><i class="fa-solid fa-spinner fa-spin"></i></span>
            <span *ngIf="!isSearching">Filtrar</span>
        </button>
    </div>
    <button id="report-pdf" class="btn-secondary btn-sm mb-2" (click)="goodsreceiptToPDF()" [disabled]="isPrintingPDF">
        <span *ngIf="isPrintingPDF" title="Creando informe"><i class="fa-solid fa-spinner fa-spin"></i></span>
        <span *ngIf="!isPrintingPDF" title="Descargar informe PDF">Informe <i
                class="fa-solid fa-file-pdf"></i></span></button>
</div>
<div id="search-exclusion">
    <input type="checkbox" id="chkFilterSearch">
    <label for="chkFilterSearch">&nbsp;Solo por Núm. doc.</label>
</div>
<table *ngIf="authService.hasPermission('goodsreceipt-list')" class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Núm. docum.</th>
            <th>Proveedor</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th
                *ngIf="authService.hasPermission('goodsreceipt-edit') || authService.hasPermission('goodsreceipt-delete')">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let goodsreceipt of goodsreceipts">
            <td></td>
            <td>{{goodsreceipt.docnum}}</td>
            <td><span *ngIf="!goodsreceipt.supplierName" class="spinner-border spinner-border-sm"></span>
                {{goodsreceipt.supplierName}}</td>
            <td><span *ngIf="!goodsreceipt.userName" class="spinner-border spinner-border-sm"></span>
                {{goodsreceipt.userName}}</td>
            <td>{{goodsreceipt.date | date: 'dd/MM/yyyy'}}</td>
            <td
                *ngIf="authService.hasPermission('goodsreceipt-edit') || authService.hasPermission('goodsreceipt-delete')">
                <a *ngIf="authService.hasPermission('goodsreceipt-edit')" routerLink="editar/{{goodsreceipt.id}}"
                    class="btn btn-sm btn-primary me-2" title="Ver/Editar"><i
                        class="fa-regular fa-pen-to-square"></i></a>
                <button *ngIf="authService.hasPermission('goodsreceipt-delete')"
                    (click)="deleteProduct(goodsreceipt.docnum, goodsreceipt.id)"
                    class="btn btn-sm btn-danger btn-delete-user" [disabled]="goodsreceipt.isDeleting" title="Eliminar">
                    <span *ngIf="" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!goodsreceipt.isDeleting"><i class="fa-solid fa-trash-can"></i></span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!goodsreceipts">
            <td colspan="6" class="text-center">
                <span class="spinner-border spinner-border-md align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
<nav>
    <ul class="pagination flex-wrap justify-content-center">
        <li class="page-item" *ngFor="let link of links">
            <a class="page-link {{link.active ? 'active' : ''}} {{link.url === null?'disabled':''}}" href="{{link.url}}"
                (click)="onChangePagination($event)">{{link.label}}</a>
        </li>
    </ul>
</nav>